# nuget packages
packages/
jenkinsDeployTestApp.Tests/packages/

# Add any directories, files, or patterns you don't want to be tracked by version control
bin/
obj/
releases/
logs/
.vs/
*.csproj.user*
*gitignore~
template/